{% extends "general/base.html" %}

{% block content %}

<div class="upload">

    <h1 class="upload-header">Upload to Bank</h1>

    <form class="login-container">
        <p><label>Please choose which bank to upload:</label></p>
        <div class="checkBoxes">
        <div class="WellsFargo">
        <label><input type="checkbox" name="wellsFargo" value="Wells Fargo"> Wells Fargo</label>
    </div>
        <label><input type="checkbox" name="bankOfAmerica" value="Capital One">Capital One</label>
        <label><input type="checkbox" name="discover" value="Discover">Discover</label>
    </div>
    </form>
</div>

{% endblock %}
