body {
    font-family: 'Dosis', sans-serif;
    background-image: url("https://images.pexels.com/photos/1353938/pexels-photo-1353938.jpeg?cs=srgb&dl=branch-bright-freshness-1353938.jpg&fm=jpg");
    background-attachment: fixed;
}

.Header {
    border-bottom: 1px solid black;
    text-shadow: 1px 1px 1px black;
}

ul {
    white-space: nowrap;
}

li {
    display: inline;
    padding: 1%;
}

h2 {
    text-align: center;
}

h4 {
    font-weight: 800;
}

.QuestionNav {
    text-align: center;
}

.QuestionCategory {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.EmailLink {
    border: 3px outset #16ca16;
    text-align: center;
}