header {
    width: 100%;
    background: rgb(18, 19, 18);
    transition: 0.7s all;
    background-size: contain;
    z-index: 100;
  }
  header.alt-header {
    background: #fff;
  }
  body.header-fixed header {
    width: 100%;
    z-index: 2;
  }
  li {
    list-style: none;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 1px;
    transition: 0.3s all;
  }
  nav {
    overflow: hidden;
  }
  .navRight{
    float: right;
    margin-right: 1em;
    
  }
  .navRight li{
    float: left;
  }

  .navLeft {
    float: left;
  }
  
  .navLeft li {
    float: right;
  }
  
  nav a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 15px;
    transition: 0.3s all;
  }
  
  nav a:hover {
    background: #16ca16;
  }
  
  .logo {
    float: left;
    color: rgb(243, 241, 241);
    font-size: 50px;
    line-height: 50px;
    transition: 0.7s all;
    margin-left: 0.2em;
  }
  
  .alt-header .logo {
    color:rgba(0, 0, 0, 0.1);
  }
  .inner i {
      font-size: 1.5em;
      color: #16ca16;
      position: absolute;
      top: 0.5em;
      left: 6.4em;
      
  }
  .inner{
      position: relative;
  }
  .inner p{
      color: #fff;
      position: absolute;
      bottom: 1em;
      left: 27em;
      color: #16ca16;
      font-size: 2em;
  }
  
  @media screen and (max-width: 768px) {
  

}