/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}

/* .title {
  color: red;
} */

.dropdown {
  color: red;
  display: none;
}

.dropdown:hover {
  display: block;
}

.about-us-page {
  display: flex;
  justify-content: space-around;
}

.about {
  width: 30%;
  /* outline: 2px solid red; */
}
