{% extends "base.html" %}

{% block content %}
<div class="all-expenses">
  <p>All Expenses</p>
  <p>Category</p>
  {% for expense in expenses %}
    <p>{{ expense }} | {{ category of expense }}</p>
  {% endfor %}
</div>
<div class="group-expenses">
  <p>Keyword</p>
  <p>Category</p>
  {% for keyword in expenses %}
    <p>{{ keyword }} | {{ category of expense }}</p>
  {% endfor %}
</div>
<div class="category-explainer">
  <p>Edit individual or group expenses by replacing the category</p>
</div>

{% endblock %}
