{% extends "base.html" %}

{% block content %}
<div class="tree-quote">
  <p class="quote">"The best time to plant a tree was 20 years ago. The next best time is <span>today...</span>"</p>
</div>
<div class="registration-form">
  <form action="" method="post">
    {% csrf_token %}
    <input type="text" name="first_name" value="" placeholder="First Name">
    <br>
    <input type="text" name="last_name" value="" placeholder="Last Name">
    <br>
    <input type="text" name="email" value="" placeholder="Email">
    <br>
    <input type="text" name="password" value="" placeholder="Password">
    <br>
    <input type="text" name="confirm_password" value="" placeholder="Confirm Password">
    <br>
    {% for bank in banks %}
      <input type="checkbox" name="{{ bank }}" value="{{ bank.id? }}">
      <label>{{ bank }}</label>
    {% endfor %}
    <input type="submit" value="Start Planting">
  </form>
</div>
<div class="instructions">
  <div>
    <h3>How Green Orchard Works</h3>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </div>
  <p>Still Confused? See our <a href="{{ faq page here }}">FAQs</a></p>
</div>

{% endblock %}
