html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(https://images.pexels.com/photos/460621/pexels-photo-460621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
    background-size: contain;
    overflow: hidden;
    margin: 13em 2em;
    background-size: contain;
    background-color: black;
    overflow: hidden;
}


.login {
    width: 21em;
    margin: 12em auto;
    font-size: 16px;
    background: rgb(0, 0, 0);
    position: center;
    box-shadow: 1px 1px 50px #000;


}

.login-header,
.login p {
    margin-top: 0;
    margin-bottom: 0;
}

.login-header {
    padding: 0.6em;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.login-container {
    background: #ebebeb;
    padding: 0.8em;
}


.login p {
    padding: 0.8em;
}

.login input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 0.1em;
    border-style: solid;
    padding: 1em;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.login input[type="email"],
.login input[type="password"] {
    background: #fff;
    border-color: #bbb;
    color: #555;
}

.login input[type="submit"] {
    background: #47cf73;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}

.login input[type="submit"]:hover {
    background: rgb(52, 241, 5);
}

/* Buttons' focus effect */
.login input[type="submit"]:focus {
    border-color: #05a;
}

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #47cf73;
}

.text--center a {
    text-decoration: none;
    color: #47cf73;
}

.text--center {
    color: white;
}


@media screen and (max-width: 768px) {
    body {
        font-family: 'Open Sans', sans-serif;
        background: url(https://images.pexels.com/photos/460621/pexels-photo-460621.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
        background-position: center;
        margin: 6em 2em;
        line-height: 1.4;
        background-size: cover;
        overflow: hidden;
    }

    .login {
        width: 17em;
        margin: 3em auto;
        font-size: 16px;
        background: rgb(0, 0, 0);
        position: center;
        box-shadow: 1px 1px 50px #000
    }


}