html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

body {
    font-family: 'Open Sans', sans-serif;
    background: url(https://images.pexels.com/photos/963040/pexels-photo-963040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
    background-size: contain;
    overflow: hidden;
    margin: 13em 2em;
    background-size: contain;
    background-color: black;
    overflow: hidden;
}


.upload {
    width: 21em;
    margin: 12em auto;
    font-size: 16px;
    background: rgb(0, 0, 0);
    position: center;
    box-shadow: 1px 1px 50px #000;


}

.upload p {
    margin-top: 0;
    margin-bottom: 0;
}

.upload-header {
    padding: 0.6em;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.upload-container {
    background: #ebebeb;
    padding: 0.8em;
}


.upload p {
    padding: 0.8em;
}

.upload input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 0.1em;
    border-style: solid;
    padding: 1em;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.upload label{
    color: #47cf73;
}

.checkBoxes{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}
.WellsFargo{
    display: flex;
    flex-direction: row;
}




/* Buttons' focus effect */

h1 {
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #47cf73;
}




@media screen and (max-width: 768px) {
    body {
        font-family: 'Open Sans', sans-serif;
        background: url(https://images.pexels.com/photos/963040/pexels-photo-963040.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed;
        background-position: center;
        margin: 3em 2em;
        line-height: 1.4;
        background-size: cover;
        overflow: hidden;
    }

    .upload {
        width: 19em;
        margin: 14em auto;
        padding: 2em;
        font-size: 16px;
        background: rgb(0, 0, 0);
        position: center;
        box-shadow: 1px 1px 50px #000
    }


}