
html {
    box-sizing: border-box;
}
  *, *:before, *:after {
    box-sizing: inherit;
}


body {
    font-family: 'Open Sans', sans-serif;
    background: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed; 
    background-color: #000;
    background-position: center;
    background-size: cover;
    margin: 2em 2em;
    line-height: 1.4;
    background-size: cover;
    overflow: hidden;
}

.SignUp{
    margin: px auto;
    font-size: 1em;
    background: rgb(0, 1, 3);
    position: center;
    box-shadow: 1em 1em 20em #47cf73;

}
.SignUp-header,
.SignUP p {
margin-top: 0;
margin-bottom: 0;
}

.SignUp-header {
    padding: 0.5em;
    font-size: 1.4em;
    font-weight: normal;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
}

.SignUp-container {
    background: #ebebeb;
}


.SignUp p {
    padding: 0.5em;
}

.SignUp input {
    box-sizing: border-box;
    display: block;
    width: 100%;
    border-width: 1px;
    border-style: solid;
    padding: 0.3em;
    outline: 0;
    font-family: inherit;
    font-size: 0.95em;
}

.SignUp input[type="email"],
.SignUp input[type="password"] {
background: #fff;
border-color: #bbb;
color: #555;
}

.SignUp input[type="submit"] {
    background: #47cf73;
    border-color: transparent;
    color: #fff;
    cursor: pointer;
}
.SignUp input[type="submit"]:hover {
    background: #17c;
}

  /* Buttons' focus effect */
.SignUp input[type="submit"]:focus {
    border-color: #05a;
}
h1{
    font-family: 'Open Sans Condensed', sans-serif;
    position: relative;
    margin-top: 0px;
    text-align: center;
    font-size: 40px;
    color: #ddd;
    text-shadow: 3px 3px 10px #000;
}

.SignUp-Container h3{
    color: white;
}
.SignUp-Container p{
    color: white;
}
.SignUp-container label{
    color: black;
}
.checkBoxes{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}


@media screen and (max-width: 768px) {
    body {
        font-family: 'Open Sans', sans-serif;
        background: url(https://images.pexels.com/photos/38136/pexels-photo-38136.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940) no-repeat center center fixed; 
        background-position: center;
        background-size: cover;
        margin: 1em 40px;
        line-height: 1.4;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        overflow: hidden;
    }


    .SignUp{
        width: 20em;
        margin: 1em auto;
        font-size: 16px;
        background: rgb(0, 1, 3);
        position: center;
        box-shadow: 1px 1px 50px #000;
        
        
    }

    .SignUp-container {
        background: #ebebeb;
    }
    
    .SignUp-Container h3{
        font-size: 0.9em;
    }
    .SignUp-Container p{
        font-size: 0.9em;
    }
    .checkBoxes{
        display: flex;
        justify-content: space-around;
        flex-direction: row;
        
    }

}