{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Green Orchard</title>
  <link rel="stylesheet" type="text/css" href="{% static 'expenses/style.css' %}">
</head>
<body>
  <header>
    <!-- Links to Summary and Each Month, div with 'Green Orchard' and cool photo -->
  </header>
  {% block content %}{% endblock %}
  <footer>
    <!-- copyright 2018 with all of our names and social media links -->
  </footer>

</body>
</html>
