body {
    font-family: 'Dosis', sans-serif;
    background-image: url("https://images.pexels.com/photos/4587/forest-tree-tree-trunk-bark.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
    color: white;
    text-shadow: 2px 2px 2px black;
}

h1 {
    border-bottom: 3px solid black;
}

.Container {
    /* border: 3px dotted red; */
    display: flex;
    justify-content: space-between;
}

.Container div {
    border: 5px inset #16ca16;
    margin-left: 5%;
    margin-right: 5%;
    padding: 1%;
    width: 40%;
    max-width: 50%;
    max-height: 300px;
    overflow: scroll;
    height: 30%;
    align-items: center;
}

table {
    height: inherit;
    text-align: center;
}

table th {
    font-weight: bolder;
}

div h3 {
    text-align: center;
    border: 2px outset black;
}


.AllExpenses {
    border: 5px inset #16ca16;
    /* padding: 5%; */
    /* margin-left: 0; */
    max-height: 15rem;
    overflow: scroll;
    display: table;
    margin: 0 auto;
} 

.GroupedExpenses {
    display: inline;
}