body {
    font-family: 'Dosis', sans-serif;
}

.Header {
    border-bottom: 1px solid black;
}

ul {
    white-space: nowrap;
}

li {
    display: inline;
}

h2 {
    text-align: center;
}

.QuestionNav {
    text-align: center;
}

.QuestionCategory {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.EmailLink {
    border: 3px outset green;
    text-align: center;
}