{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" type="text/css" href="{% static 'general/index.css' %}">
  <title>Document</title>
</head>
<body>
  <header>
    <!-- Left side -->
    <ul>
      <li class="title">Green Orchard (logo)</li>
      <li>Login</li>
    </ul>

    <!-- Right side -->
    <ul>
      <li>Summary</li>
      <li>Months (dropdown)
        <div class="month-dropdown dropdown">
          <li>January</li>
          <li>February</li>
          <li>March</li>
        </div>
      </li>
      <li>Other (dropdown)
        <div class="other-dropdown dropdown">
          <li>Budget Tracker</li>
          <li>Loan Tracker</li>
          <li>The Developers</li>
          <li>FAQs</li>
        </div>
      </li>
    </ul>
  </header>
  {% block content %}{% endblock %}
  <footer>
    &copy; 2019
    <div class="sam-info">
      <span>Sam Erickson</span>
      <span>(GitHub Link)</span>
      <span>(LinkedIn Link)</span>
    </div>
    <div class="will-info">
      <span>Will Harris</span>
      <span>(GitHub Link)</span>
      <span>(LinkedIn Link)</span>
    </div>
    <div class="alex-info">
      <span>Alex Rogers</span>
      <span>(GitHub Link)</span>
      <span>(LinkedIn Link)</span>
    </div>
  </footer>
</body>
</html>
