{% extends "general/base.html" %}

{% block content %}
<div class="Header">
    <h1>Frequently Asked Questions</h1>
</div>

<h2>Search questions by category:</h2>

<nav class="QuestionNav">
  <ul>
    <li><a href="#General">General</a></li> |
    <li><a href="#Expenses">Expenses</a></li> |
    <li><a href="#Budget">Budget</a></li> |
    <li><a href="#LoanTracker">Loan Tracker</a></li> |
    <li><a href="#Profile">Profile</a></li> |
    <li><a href="#Banks">Banks</a></li>
  </ul>
</nav>

<h3 class="QuestionCategory" id="General">General</h3>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h3 class="QuestionCategory" id="Expenses">Expenses</h3>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h3 class="QuestionCategory" id="Budget">Budget</h3>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h3 class="QuestionCategory" id="LoanTracker">Loan Tracker</h3>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h3 class="QuestionCategory" id="Profile">Profile</h3>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h3 class="QuestionCategory" id="Banks">Banks</h3>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<h4>Question</h4>
<p>Answer</p>

<!-- {% endblock %} -->

<div class="EmailLink">
    <h3>Still have questions?</h3>
    <p>Email <a href="#">example@greenorchard.com</a> and we will respond within 2 business days.</p>
</div>

{% endblock %}
