<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Green Orchard</title>
</head>
<body>
  <div class="main-upper">
    <h1>(Tree here)</h1>
    <h1>Green Orchard</h1>
    <h1>(Tree here)</h1>
  </div>
  <div class="main-middle">
    <div class="user-review">
      <p>(profile img here)</p>
      <p>"This is the best app ever!"</p>
    </div>
    <div class="user-review">
      <p>(profile img here)</p>
      <p>"This is the worst app ever!"</p>
    </div>
  </div>
  <div class="main-lower">
    <p>Ready to grow your orchard? <a href="{% url 'register' %}">Start here</a></p>
  </div>
</body>
</html>
