{% extends "general/base.html" %}

{% block content %}
  <div class="month-left-align">
    <h1 class="month-title">{{ month }}, 2018</h1>
    <div class="month-pie-chart">
      <svg>
        <!-- d3 pie-chart goes here -->
      </svg>
    </div>
  </div>
  <div class="month-center-align">
    <p class="quote">"You seemed to fill the orchard this month with {{ expenses.0.name }} (${{ expenses.0.amount }}), {{ expenses.1.name }} (${{ expenses.1.amount }}), and {{ expenses.2.name }} (${{ expenses.2.amount }})"</p>
  </div>
  <div class="month-right-align">
    <!-- have table-like section where titles are in bold and expenses are under -->
    <!-- also make a scrollbar for this div -->
    <div class="expense-list"></div>
    <p>Total Spent This Month: $<span>{{ total }}</span></p>
  </div>
{% endblock %}
